* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 10px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    102deg,
    rgba(255, 218, 111, 1) 0%,
    rgba(245, 188, 26, 1) 100%
  );
  color: white;
}

.message {
  font-size: 8rem;
  margin-bottom: 1rem;
}

#welcome {
  font-size: 3rem;
}

.test {
  color: rgba(255, 218, 111,)
}